/* reset */
body,textarea,input,button,select,keygen,legend{ font: 12px/1.5 "微软雅黑",Arial,"Microsoft YaHei","Open Sans","Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif,tahoma,arial,"Hiragino Sans GB","宋体",sans-serif;  background:#fff; }
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;outline:none;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;overflow:hidden;word-break:break-all;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
a{ text-decoration:none; outline:none;}/*去掉链接点击时出现的虚线框*/
a:active{star:expression(this.onFocus=this.blur());}/*去掉链接点击时出现的虚线框---made by linwenshu*/
input::-moz-focus-inner{border:none;}/*去掉按钮点击时出现的虚线框--------for */
html, body{ margin:0;width:100%; }/*解决height:100%无效的问题*/
/*function*/
.ofh{overflow:hidden;}
.wsn{white-space:nowrap;}
.hide{display:none;}
.f-fl{float:left;}
.f-fr{float:right;}
.cb{clear:both;}
.inb{display:inline-block;}
.tl{text-align:left;}
.tc{text-align:center;}
.pr{position:relative;}
.pa{position:absolute;}
.db{display:block;}

.clearfix:after,.cf:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix,.cf {
  zoom: 1;
  display: inline-block;
  _height: 1px;
}
.clearfix,.cf {
  display: block;
}


.col-xs-1-8,.col-sm-1-8,.col-md-1-8,.col-lg-1-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}

.col-xs-1-8 {
  width: 12.5%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-8 {
    width: 12.5%;
    float: left;
  }
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-8 {
    width: 12.5%;
    float: left;
  }
  .col-md-1-5 {
    width: 20%;
    float: left;
  } 
}

@media (min-width: 1200px) {
  .col-lg-1-8 {
    width: 12.5%;
    float: left;
  }
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}
